In [24]:
import pandas as pd
from datetime import datetime

pd.set_option("display.max_rows", None)

In [25]:
# 11-OCT - 31-OCT
# START_TIMESTAMP = 1728604800
# END_TIMESTAMP = 1730419200

# 08-OCT - 10-OCT
# START_TIMESTAMP = 1728345600
# END_TIMESTAMP = 1728604799

# 01 NOV - 30 NOV
# START_TIMESTAMP = 1730419201
# END_TIMESTAMP = 1732969560

# 30 NOV - 21 DEC
# START_TIMESTAMP = 1732969561
# END_TIMESTAMP = 1734782760

# 21 DIC - 18 ENE
# START_TIMESTAMP = 1734782761
# END_TIMESTAMP = 1737203944

# 18 ENE - 01 FEB
START_TIMESTAMP = 1737203945
END_TIMESTAMP = 1738412694

In [26]:
df = pd.read_csv('./data/muon_cross_TMB3-2025_01_18-2025_02_01.csv', names=['timestamp', 'TMB3'])

In [27]:
df_temp_out = pd.read_csv('./data/airport_station_hourly-2025_01_18-2025_02_01.csv')

In [12]:
# OJO, la presion esta en InHg
df_temp_in = pd.read_csv('./data/temp_Lab-2025_01_18-2025_02_01.csv', names=['timestamp', 'Temp', 'Press'])

In [13]:
df = df.sort_values('timestamp')
df.head()

    timestamp  TMB3
0  1737203945    32
1  1737203946    21
2  1737203947    29
3  1737203948    32
4  1737203949    24

In [14]:
TIME_FORMAT = "%Y-%m-%d %H:%M:%S"
def convert_string_to_timestamp(my_date: str):
    # print(my_date)
    dt_object = datetime.strptime(my_date, TIME_FORMAT)
    return int(dt_object.timestamp())

In [15]:
df_temp_out = df_temp_out.rename(columns={'time': 'datetime', 'temp': 'temp_out'})
df_temp_out.insert(1, 'timestamp', df_temp_out['datetime'].apply(convert_string_to_timestamp))

In [16]:
df_temp_out = df_temp_out[df_temp_out['timestamp'].between(START_TIMESTAMP, END_TIMESTAMP, inclusive='both')]
df_temp_out = df_temp_out.sort_values('timestamp')
df_temp_out.head()

,datetime,timestamp,temp_out,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
10,2025-01-18 10:00:00,1737205200,28.0,22.0,70.0,0.0,NaN,110.0,6.0,NaN,1008.0,NaN,2.0
11,2025-01-18 11:00:00,1737208800,31.0,22.1,59.0,0.0,NaN,90.0,9.0,NaN,1009.0,NaN,2.0
12,2025-01-18 12:00:00,1737212400,34.0,22.1,50.0,0.0,NaN,40.0,11.0,NaN,1010.0,NaN,2.0
13,2025-01-18 13:00:00,1737216000,35.0,22.0,47.0,0.0,NaN,50.0,11.0,NaN,1010.0,NaN,2.0
14,2025-01-18 14:00:00,1737219600,36.0,21.1,42.0,0.0,NaN,26.0,9.0,NaN,1009.0,NaN,2.0

In [17]:
df_temp_in['Press'] = df_temp_in['Press'].apply(lambda x: x/29.53)
df_temp_in = df_temp_in.rename(columns={'Temp': 'temp_in', 'Press': 'press_in'})
df_temp_in.head()

    timestamp  temp_in  press_in
0  1737204014     18.1  1.007111
1  1737204308     18.1  1.007111
2  1737204613     18.1  1.007111
3  1737204907     18.2  1.007111
4  1737205212     18.1  1.007111

In [18]:
merged_df = pd.merge_asof(df, df_temp_in, on='timestamp', direction='backward')
merged_df = pd.merge_asof(merged_df, df_temp_in, on='timestamp', direction='forward', suffixes=('', '_forward'))
merged_df['temp_in'] = merged_df['temp_in'].combine_first(merged_df['temp_in_forward'])
merged_df['press_in'] = merged_df['press_in'].combine_first(merged_df['press_in_forward'])
merged_df = merged_df.drop(columns=['temp_in_forward', 'press_in_forward'])


merged_df = pd.merge_asof(merged_df, df_temp_out[['timestamp', 'temp_out']], on='timestamp', direction='backward')
merged_df = pd.merge_asof(merged_df, df_temp_out[['timestamp', 'temp_out']], on='timestamp', direction='forward', suffixes=('', '_forward'))
merged_df['temp_out'] = merged_df['temp_out'].combine_first(merged_df['temp_out_forward'])
merged_df = merged_df.drop(columns=['temp_out_forward'])

In [19]:
merged_df = merged_df[['timestamp', 'temp_in', 'temp_out', 'press_in', 'TMB3']]
merged_df.head()

    timestamp  temp_in  temp_out  press_in  TMB3
0  1737203945     18.1      28.0  1.007111    32
1  1737203946     18.1      28.0  1.007111    21
2  1737203947     18.1      28.0  1.007111    29
3  1737203948     18.1      28.0  1.007111    32
4  1737203949     18.1      28.0  1.007111    24

In [20]:
import statsmodels.api as sm
import numpy as np

df = merged_df
# cols = ['inside_temp','outside_temp','outside_pressure']
cols = ['temp_in','temp_out','press_in']

mod = sm.OLS(df['TMB3'], sm.add_constant(df[cols].values))
fit = mod.fit()

errors = fit.summary2().tables[1]['Std.Err.'][1:].values
const = fit.params.values[0]
params = fit.params.values[1:]
means = df.mean()[cols].values

df['correction'] = df.apply(lambda r: np.sum((means - r[cols].values) * params), axis=1)

df['corrected'] = df['TMB3'] + df['correction']

In [21]:
df.head(100)

     timestamp  temp_in  temp_out  press_in  TMB3  correction  corrected
0   1737203945     18.1      28.0  1.007111    32   -0.048988  31.951012
1   1737203946     18.1      28.0  1.007111    21   -0.048988  20.951012
2   1737203947     18.1      28.0  1.007111    29   -0.048988  28.951012
3   1737203948     18.1      28.0  1.007111    32   -0.048988  31.951012
4   1737203949     18.1      28.0  1.007111    24   -0.048988  23.951012
5   1737203950     18.1      28.0  1.007111    28   -0.048988  27.951012
6   1737203951     18.1      28.0  1.007111    28   -0.048988  27.951012
7   1737203952     18.1      28.0  1.007111    22   -0.048988  21.951012
8   1737203953     18.1      28.0  1.007111    27   -0.048988  26.951012
9   1737203954     18.1      28.0  1.007111    29   -0.048988  28.951012
10  1737203955     18.1      28.0  1.007111    14   -0.048988  13.951012
11  1737203956     18.1      28.0  1.007111    25   -0.048988  24.951012
12  1737203957     18.1      28.0  1.007111    29   -0.048988  28.951012
13  1737203958     18.1      28.0  1.007111    34   -0.048988  33.951012
14  1737203959     18.1      28.0  1.007111    20   -0.048988  19.951012
15  1737203960     18.1      28.0  1.007111    13   -0.048988  12.951012
16  1737203961     18.1      28.0  1.007111    25   -0.048988  24.951012
17  1737203962     18.1      28.0  1.007111    38   -0.048988  37.951012
18  1737203963     18.1      28.0  1.007111    24   -0.048988  23.951012
19  1737203964     18.1      28.0  1.007111    28   -0.048988  27.951012
20  1737203965     18.1      28.0  1.007111    30   -0.048988  29.951012
21  1737203966     18.1      28.0  1.007111    25   -0.048988  24.951012
22  1737203967     18.1      28.0  1.007111    32   -0.048988  31.951012
23  1737203968     18.1      28.0  1.007111    27   -0.048988  26.951012
24  1737203969     18.1      28.0  1.007111    28   -0.048988  27.951012
25  1737203970     18.1      28.0  1.007111    26   -0.048988  25.951012
26  1737203971     18.1      28.0  1.007111    26   -0.048988  25.951012
27  1737203972     18.1      28.0  1.007111    33   -0.048988  32.951012
28  1737203973     18.1      28.0  1.007111    26   -0.048988  25.951012
29  1737203974     18.1      28.0  1.007111    24   -0.048988  23.951012
30  1737203975     18.1      28.0  1.007111    26   -0.048988  25.951012
31  1737203976     18.1      28.0  1.007111    20   -0.048988  19.951012
32  1737203977     18.1      28.0  1.007111    33   -0.048988  32.951012
33  1737203978     18.1      28.0  1.007111    21   -0.048988  20.951012
34  1737203979     18.1      28.0  1.007111    31   -0.048988  30.951012
35  1737203980     18.1      28.0  1.007111    30   -0.048988  29.951012
36  1737203981     18.1      28.0  1.007111    20   -0.048988  19.951012
37  1737203982     18.1      28.0  1.007111    23   -0.048988  22.951012
38  1737203983     18.1      28.0  1.007111    19   -0.048988  18.951012
39  1737203984     18.1      28.0  1.007111    34   -0.048988  33.951012
40  1737203985     18.1      28.0  1.007111    31   -0.048988  30.951012
41  1737203986     18.1      28.0  1.007111    37   -0.048988  36.951012
42  1737203987     18.1      28.0  1.007111    27   -0.048988  26.951012
43  1737203988     18.1      28.0  1.007111    16   -0.048988  15.951012
44  1737203989     18.1      28.0  1.007111    29   -0.048988  28.951012
45  1737203990     18.1      28.0  1.007111    36   -0.048988  35.951012
46  1737203991     18.1      28.0  1.007111    27   -0.048988  26.951012
47  1737203992     18.1      28.0  1.007111    26   -0.048988  25.951012
48  1737203993     18.1      28.0  1.007111    23   -0.048988  22.951012
49  1737203994     18.1      28.0  1.007111    32   -0.048988  31.951012
50  1737203995     18.1      28.0  1.007111    25   -0.048988  24.951012
51  1737203996     18.1      28.0  1.007111    32   -0.048988  31.951012
52  1737203997     18.1      28.0  1.007111    16   -0.048988  15.951012
53  1737203998     18.1      28.0  1.007111    27   -0.048988  26.951012
54  1737203999     18.1      28.0  1.007111    28   -0.048988  27.951012
55  1737204000     18.1      28.0  1.007111    24   -0.048988  23.951012
56  1737204001     18.1      28.0  1.007111    20   -0.048988  19.951012
57  1737204002     18.1      28.0  1.007111    28   -0.048988  27.951012
58  1737204003     18.1      28.0  1.007111    16   -0.048988  15.951012
59  1737204004     18.1      28.0  1.007111    20   -0.048988  19.951012
60  1737204005     18.1      28.0  1.007111    15   -0.048988  14.951012
61  1737204006     18.1      28.0  1.007111    26   -0.048988  25.951012
62  1737204007     18.1      28.0  1.007111    22   -0.048988  21.951012
63  1737204008     18.1      28.0  1.007111    35   -0.048988  34.951012
64  1737204009     18.1      28.0  1.007111    22   -0.048988  21.951012
65  1737204010     18.1      28.0  1.007111    22   -0.048988  21.951012
66  1737204011     18.1      28.0  1.007111    19   -0.048988  18.951012
67  1737204012     18.1      28.0  1.007111    24   -0.048988  23.951012
68  1737204013     18.1      28.0  1.007111    23   -0.048988  22.951012
69  1737204014     18.1      28.0  1.007111    28   -0.048988  27.951012
70  1737204015     18.1      28.0  1.007111    24   -0.048988  23.951012
71  1737204016     18.1      28.0  1.007111    26   -0.048988  25.951012
72  1737204017     18.1      28.0  1.007111    23   -0.048988  22.951012
73  1737204018     18.1      28.0  1.007111    20   -0.048988  19.951012
74  1737204019     18.1      28.0  1.007111    23   -0.048988  22.951012
75  1737204020     18.1      28.0  1.007111    24   -0.048988  23.951012
76  1737204021     18.1      28.0  1.007111    21   -0.048988  20.951012
77  1737204022     18.1      28.0  1.007111    20   -0.048988  19.951012
78  1737204023     18.1      28.0  1.007111    24   -0.048988  23.951012
79  1737204024     18.1      28.0  1.007111    35   -0.048988  34.951012
80  1737204025     18.1      28.0  1.007111    39   -0.048988  38.951012
81  1737204026     18.1      28.0  1.007111    24   -0.048988  23.951012
82  1737204027     18.1      28.0  1.007111    24   -0.048988  23.951012
83  1737204028     18.1      28.0  1.007111    25   -0.048988  24.951012
84  1737204029     18.1      28.0  1.007111    23   -0.048988  22.951012
85  1737204030     18.1      28.0  1.007111    22   -0.048988  21.951012
86  1737204031     18.1      28.0  1.007111    34   -0.048988  33.951012
87  1737204032     18.1      28.0  1.007111    25   -0.048988  24.951012
88  1737204033     18.1      28.0  1.007111    21   -0.048988  20.951012
89  1737204034     18.1      28.0  1.007111    24   -0.048988  23.951012
90  1737204035     18.1      28.0  1.007111    22   -0.048988  21.951012
91  1737204036     18.1      28.0  1.007111    25   -0.048988  24.951012
92  1737204037     18.1      28.0  1.007111    30   -0.048988  29.951012
93  1737204038     18.1      28.0  1.007111    23   -0.048988  22.951012
94  1737204039     18.1      28.0  1.007111    36   -0.048988  35.951012
95  1737204040     18.1      28.0  1.007111    31   -0.048988  30.951012
96  1737204041     18.1      28.0  1.007111    33   -0.048988  32.951012
97  1737204042     18.1      28.0  1.007111    32   -0.048988  31.951012
98  1737204043     18.1      28.0  1.007111    22   -0.048988  21.951012
99  1737204044     18.1      28.0  1.007111    16   -0.048988  15.951012

In [22]:
df[['timestamp', 'temp_in', 'temp_out', 'press_in', 'TMB3', 'corrected']].to_csv(f'./data/muon_cross_corrected_all_columns-{datetime.fromtimestamp(START_TIMESTAMP).strftime("%Y_%m_%d")}-{datetime.fromtimestamp(END_TIMESTAMP).strftime("%Y_%m_%d")}.csv', index=False)

In [23]:
df_temp_out[['timestamp', 'temp_out']].to_csv(f'./data/airport_station_hourly_processed-{datetime.fromtimestamp(START_TIMESTAMP).strftime("%Y_%m_%d")}-{datetime.fromtimestamp(END_TIMESTAMP).strftime("%Y_%m_%d")}.csv', index=False)